name: Deploy QA

on:
  workflow_dispatch:

jobs:
  build:
    name: Build container image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Check outputs
        run: echo ${{ steps.vars.outputs.sha_short }}

      - name: Log into registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.ACR_ENDPOINT_QA }}
          username: ${{ secrets.ACR_USERNAME_QA }}
          password: ${{ secrets.ACR_PASSWORD_QA }}

      - name: Build & Push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ${{ secrets.ACR_ENDPOINT_QA }}/service-api:${{ steps.vars.outputs.sha_short }}
            ${{ secrets.ACR_ENDPOINT_QA }}/service-api:latest